/* Dark theme styles */
body.dark .navbar {
  background-color: hsla(231, 39%, 6%, 0.87);
}

body.dark .navbar a {
  color: white;
  font-weight: 500;
}

body.dark .dropdown-menu {
  color: #fff;
  background-color: #101324;
}

body.dark .navbar .nav-links #user-dropdown.nav-item {
  background-color: #129ace1a;
}

/* General styles */
.navbar {
  display: flex;
  flex-flow: row nowrap;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  flex-grow: 1;
  padding: .2rem 1rem;
  position: relative;
  align-items: center;
  box-shadow: 0 5px 12px #000;
}

.navbar .navbar-brand img {
  transition: all 0.4s ease;
}

.navbar .navbar-brand img {
  max-height: 36px;
}

.navbar a, #user-dropdown.nav-item a:not(.username a) {
  display: inline-flex;
}

.navbar #user-dropdown.nav-item {
  align-items: center;
}

.navbar .nav-item {
  display: flex;
}

.navbar .skipnav .skipnav-button {
  opacity: 0;
  pointer-events: none;
}

.navbar .skipnav .skipnav-button:focus {
  opacity: 1;
  pointer-events: all;
}

.navbar .skipnav .skipnav-button {
  padding: 0.7em 0.57em;
  background-color: rgb(255 255 255 / 12%);
  border-radius: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  color: #dedede;
  border: 0;
  margin: 0;
}

.navbar .nav-links {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  flex-basis: auto;
  margin-left: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: max(48px);
  align-items: center;
}

.navbar .nav-links #user-dropdown.nav-item {
  border-radius: 105px;
  padding-right: 10px;
  position: relative;
}

.navbar .my-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-self: center;
}

.navbar .username {
  align-self: center;
  cursor: pointer;
  user-select: none;
  max-width: 72px;
  max-height: 24px;
  margin-left: .5rem;
}

.navbar .nav-item a, .navbar .username a {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navbar .dropdown-menu {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.25);
  right: 0;
  display: flex;
  flex-direction: column;
}

/* Hiding menu options until they can be displayed upon media query */
.navbar .nav-links #home.nav-item {
  display: none;
}

.navbar .nav-links #project.nav-item {
  display: none;
}

@media only screen and (min-width: 520px) {
  .navbar .nav-links #project.nav-item {
    display: flex;
  }
}

@media only screen and (min-width: 600px) {
  .navbar .navbar-brand img {
    max-height: 42px;
  }
  .navbar .nav-link {
    padding: .5rem .75rem;
  }
  .navbar .nav-links #home.nav-item {
    display: flex;
  }
  .navbar .username {
    max-width: 96px;
  }
  .navbar .nav-links .dropdown-menu a.dropdown-item {
    font-size: 1em;
  }
}

@media only screen and (max-width: 839px) {
  .navbar .nav-links #home.nav-item a {
    content: url("https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_home_white_24px.svg");
  }
  .navbar .nav-links #project.nav-item a.nav-link {
    content: url("https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_group_white_24px.svg");
  }
  .navbar .nav-links #shop.nav-item a {
    content: url("https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_shopping_cart_white_24px.svg");
  }
}

@media only screen and (min-width: 840px) and (max-width: 1023px) {
  .navbar .username {
    max-width: 124px;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar .username {
    max-width: 192px;
  }
  .navbar .navbar-brand img {
    max-height: 52px;
  }
  .navbar .nav-link {
    padding: .5rem 1rem;
  }
}