body.dark {
  --background-color: hsl(236, 68%, 12%);
  --surface: hsla(0, 0%, 0%, 0.8);
  --surface-secondary: hsla(197, 84%, 44%, 0.1);
  --success: #00e676;
  --error: #CF6679;
  --call-to-action: #80d8ff;
  --high-emphasis-text: rgba(255, 255, 255, 0.87);
  --medium-emphasis-text: rgba(255, 255, 255, 0.6);
  --disabled-text: rgba(255, 255, 255, 0.38);
}

.modal-content {
  background-color: #121212 !important;
  color: #eaeaea;
}

.modal-content .close {
  text-shadow: none;
  color: rgb(255 255 255 / 38%);
}

.modal-content .modal-header {
  border-bottom-color: rgb(255 255 255 / 12%);
}

.modal-content .modal-title {
  color: #fff;
}

.modal-content .modal-body {
  color: rgb(255 255 255 / 87%);
}

.modal-content .modal-footer {
  background-color: rgb(255 255 255 / 10%);
  border-top: none;
  color: rgb(255 255 255 / 60%);
}