/* Main styles */
html {
  scrollbar-width: thin;
  scrollbar-color: #245aad #344663;
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  background-image: url("../webp/background.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #0a0d35;
  font-family: var(--font-family-sans-serif);
}

/* Preloading media query images */
body::after{
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("../svg/login_white_24px.svg") url("https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_account_circle_white_24px.svg") url("https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_home_white_24px.svg") url("https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_group_white_24px.svg") url("https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_shopping_cart_white_24px.svg");
}

/* Material Icon styles */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #245aad;
}
::-webkit-scrollbar-track {
  background: #344663;
}

.fullpartonly {
  padding-bottom: 2.5rem
}

#logofg {
  opacity: 0;
  width: 100%;
  position: absolute;
  clip: rect(-2vw, 0, 4vw, -2vw);
  display: none;
  pointer-events: none;
  filter: blur(0.1vw);
  animation: logofgani 3s ease;
  -webkit-animation: logofgani 3s ease
}

@keyframes logofgani {
  0% {}

  20% {
    opacity: .5
  }

  50% {
    clip: rect(0, 23vw, 26vw, 21vw)
  }

  80% {
    opacity: .5
  }

  100% {
    opacity: 0;
    clip: rect(0, 23vw, 26vw, 21vw)
  }
}

#footer {
  color: #fff;
  position: absolute;
  font-size: 14px;
  bottom: 0;
  width: 100%;
  text-align: center;
  opacity: .6;
  padding: .5rem 0;
  font-family: Arial, sans-serif;
}

#footer a {
  color: #fff
}

.fullbodyfooter {
  position: relative;
  min-height: 100vh
}

.flier {
  pointer-events: none
}

.flier>* {
  animation: fly 50s linear infinite;
  pointer-events: none;
  top: 0;
  left: 0;
  transform: translateX(-120%) translateY(-120%) rotateZ(0);
  position: fixed;
  animation-delay: 1s;
  z-index: 999999
}

@keyframes fly {
  98.001%,
  0% {
    display: block;
    transform: translateX(-200%) translateY(100vh) rotateZ(0deg)
  }

  15% {
    transform: translateX(100vw) translateY(-100%) rotateZ(180deg)
  }

  15.001%,
  18% {
    transform: translateX(100vw) translateY(-30%) rotateZ(0deg)
  }

  40% {
    transform: translateX(-200%) translateY(3vh) rotateZ(-180deg)
  }

  40.001%,
  43% {
    transform: translateX(-200%) translateY(-100%) rotateZ(-180deg)
  }

  65% {
    transform: translateX(100vw) translateY(50vh) rotateZ(0deg)
  }

  65.001%,
  68% {
    transform: translateX(20vw) translateY(-200%) rotateZ(180deg)
  }

  95% {
    transform: translateX(10vw) translateY(100vh) rotateZ(0deg)
  }
}

.modal-content {
  background-color: #121212 !important;
  color: #eaeaea;
}

.modal-content .close {
  text-shadow: none;
  color: rgb(255 255 255 / 38%);
}

.modal-content .modal-header {
  border-bottom-color: rgb(255 255 255 / 12%);
}

.modal-content .modal-title {
  color: #fff;
}

.modal-content .modal-body {
  color: rgb(255 255 255 / 87%);
}

.modal-content .modal-footer {
  background-color: rgb(255 255 255 / 10%);
  border-top: none;
  color: rgb(255 255 255 / 60%);
}